.config/tmux/plugins/
.config/alacritty/themes
.local/bin/markdown-it
.local/bin/pip
.local/bin/pip3
.local/bin/pip3.12
.local/bin/pygmentize
.local/bin/black
.local/bin/blackd
.config/nvim/lazy-lock.json
